.hidden {
  display: none;
}

img {
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  z-index: -1;
}

.clock-form {
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 30px;
  width: 500px;
  border-radius: 20px;
  margin: auto;
  margin-top: 100px;
}

.clock {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 100px;
  margin: 10px;
}

.login-form {
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  width: 500px;
  padding: 20px;
  margin: auto;
  margin-top: 50px;
  color: white;
  border-radius: 20px;
  font-size: 50px;
}

.todo-form {
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  width: 600px;
  padding: 20px;
  margin: auto;
  margin-top: 10px;
  color: white;
  border-radius: 20px;
  font-size: 50px;
}

.greeting {
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  width: 500px;
  padding: 30px;
  margin: auto;
  margin-top: 50px;
  color: white;
  border-radius: 20px;
  font-size: 50px;
}

input {
  border: none;
  height: 100px;
  font-size: 30px;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
}

.todo-input {
  width: 600px;
}

.todo-list {
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 30px;
  padding-left: 50px;
  width: 550px;
  border-radius: 20px;
  margin: auto;
  margin-top: 10px;
  font-size: 30px;
  list-style: none;
}

.quote-form {
  justify-content: center;
  align-content: flex-end;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 30px;
  width: 600px;
  border-radius: 20px;
  margin: auto;
  margin-top: 30px;
}

.weather {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 20px;
}

button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 30px;
}
